body {
    background-color: #737373;
}

.navbar {
    margin-bottom: 20px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #343a40;
}

.table {
    margin-top: 20px;
}
